// 通用設定
html,body 
    width: 100%
    height: 100%
    font-family: 微軟正黑體
    margin: 0px
    padding: 0px
    font-size: 16px

a 
    text-decoration: none 
    text-transform: capitalize

img 
    width: 100%
 
// 避免元素蓋過選單    
main 
    z-index: 0

// 導覽條
header 
    // 固定上方
    position: fixed
    top: 0
    right: 0
    left: 0
    padding: 5px 0
    background-color: #eee
    display: flex
    align-items: center
    height: 50px
    box-sizing: border-box

.logo
    display: block
    width: 40px
    margin-left: 10px
    z-index: 10
    img 
        width: 100%
        display: block
// 選單
nav 
    width: 100%
    max-height: 0px
    overflow: hidden
    position: absolute
    top: 50px
    transition: 0.5s
    a 
        display: block
        color: #000
        padding: 10px 0px 10px 25px
        border-bottom: solid 1px #eee
        background-color: #fff
        &:hover
            background-color: #000
            color: #fff
            
// 漢堡選單
.iconBox 
    display: block
    position: absolute
    right: 5px
    width: 30px
    height: 30px
    border: solid 1px #9f8c8cf5
    border-radius: 8px

.iconBar
    display: block
    position: absolute
    top: 0
    bottom: 0
    margin: auto
    width: 20px
    height: 2px
    left: 5px
    background-color: #9f8c8cf5
    &::before, &::after
        content: ''
        position: absolute
        width: 100%
        height: 100%
        background-color: #9f8c8cf5
        transition: all 0.3s ease-out
    &::before
        top: 6px
    &::after
        top: -6px

// 切換按鈕
#menuCheck
    z-index: 100
    position: absolute
    opacity: 0
    // 加上這行才不會一直往上跑!
    display: none

#menuCheck:checked ~ header 
    .iconBar
        background-color: transparent
        &::before, &::after
            top: 0
        &::after
            transform: rotate(45deg)
        &::before
            transform: rotate(-45deg)  
    nav
        max-height: 250px

// 避免導覽列擋住圖片
header + section 
    margin-top: 50px
// 排除 fixed 定位錨點跑位
section#about
    padding-top: 55px
section + section 
    padding-top: 65px


.banner
    img 
        min-height: 200px

.container
    margin: auto 
    max-width: 1400px 
    width: 100% 

.sectionTitle
    font-size: 1.5rem
    text-transform: capitalize
    text-align: center
    margin: 10px 0px 10px
    font-weight: 900
    letter-spacing: 1px

.sectionText
    padding: 10px 15px
    font-size: 0.8rem

.items
    margin: 0px 10px 10px
    .pic
        width: 100%
    .text
        h2 
            text-align: center
            font-size: 1.2rem
            font-weight: 400
            padding: 3px 0px 6px
        p
            font-size: 0.8rem

footer
    font-size: 0.8rem
    text-align: center
    background-color: #000
    color: #aaa
    padding: 10px 0px


@media screen and ( min-width: 768px )
    .iconBox
        display: none
    .header
        display: flex
        align-items: center
        justify-content: space-between
    nav 
        height: 100%
        display: flex
        justify-content: flex-end
        top: 0
        max-height: none
        transition: none
        a 
            display: block
            padding: 14px 30px
            background-color: transparent
    
    .sectionTitle, .sectionText
        width: 100%
        text-align: center
        margin: 0 auto 10px
    .sectionTitle
        font-size: 1.8rem
    .sectionText 
        width: 60%
        font-size: 1rem 
    .container
        width: 768px
        display: flex
    .items
        width: 100%
        padding: 0 0 20px
        .text
            font-size: 1rem
            padding: 0 5px
    
            



// @media screen and (min-width: 960px) 

// @media screen and (min-width: 1200px) 

    